@use "base/colors";
@use "base/vars";
@use "base/text";
@use "base/breakpoints";

.wy-filename {
  font-size: vars.$font-size-sm;
  @include text.truncate;
  text-align: center;
}

.wy-files {
  width: 100%;
}

.wy-files-dragging {
  &::after {
    content: "Drop files here to upload.";
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed colors.$primary;
    font-weight: vars.$font-weight-bold;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.wy-table-files {
  thead {
    display: none;
    text-align: left;
  }

  td:nth-child(2) {
    // make room for rename form
    padding: 0 vars.$table-cell-padding-x;
  }

  // filename
  td:nth-child(2),
  th:nth-child(2) {
    width: 100%;
    @include text.truncate;
  }

  // modified
  td:nth-child(3),
  th:nth-child(3) {
    display: none;
    width: 7rem;
    @include text.truncate;
  }

  // kind
  td:nth-child(4),
  th:nth-child(4) {
    display: none;
    width: 7.5rem;
    text-align: right;
    @include text.truncate;
  }

  // size
  td:nth-child(5),
  th:nth-child(5) {
    display: none;
    width: 7rem;
    text-align: right;
    @include text.truncate;
  }

  // TODO: REMOVE BREAKPOINTS
  @include breakpoints.media-breakpoint-up(sm) {
    thead {
      display: table-header-group;
    }

    td:nth-child(5),
    th:nth-child(5) {
      display: table-cell;
    }
  }

  @include breakpoints.media-breakpoint-up(md) {

    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4) {
      display: table-cell;
    }
  }
}

.breadcrumb {
  align-items: center;
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-top: 1px;
}

.breadcrumb-item {
  font-weight: normal;
  margin: 0 4px;
}

.breadcrumb-item.is-last {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cancel-button {
  background-color: var(--wy-red-500);
  border: none;
  border-radius: 4px;
  color: var(--wy-white);
  cursor: pointer;
  padding: 10px 20px;
}

.chevron-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.close-button {
  background: transparent;
  border: none;
  color: var(--wy-gray-600);
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close-button svg {
  display: block;
}

.create-button {
  background-color: var(--wy-primary-40);
  border: none;
  border-radius: 4px;
  color: var(--wy-white);
  cursor: pointer;
  padding: 10px 20px;
}

.filelist-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filelist-cancel-button {
  background-color: var(--wy-primary-40);
  border: none;
  border-radius: 4px;
  color: var(--wy-white);
  cursor: pointer;
  padding: 10px 20px;
}

.filelist-delete-button {
  background-color: var(--wy-primary-40);
  border: none;
  border-radius: 4px;
  color: var(--wy-white);
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
}

.files-modal {
  background-color: var(--wy-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 90%;
}

.files-modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.folder-link {
  cursor: pointer;
  text-decoration: none;
}

.input-field {
  background-color: var(--wy-white);
  border: 1px solid var(--wy-primary-40);
  border-radius: 4px;
  color: var(--wy-primary-40);
  margin: 10px 0;
  padding: 10px;
  width: 90%;
}

.modal {
  height: 50%;
  margin: auto;
  width: 50%;
}

.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}