@use "base/colors";
@use "base/vars";
@use "base/text";
@use "base/breakpoints";

.wy-filename {
  font-size: vars.$font-size-sm;
  @include text.truncate;
  text-align: center;
}

.wy-files {
    width: 100%;
}

.wy-files-dragging {
  &::after {
    content: "Drop files here to upload.";
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed colors.$primary;
    font-weight: vars.$font-weight-bold;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
} 

.wy-table-files {
  thead {
    display: none;
    text-align: left;
  }

  td:nth-child(2) {
    // make room for rename form
    padding: 0 vars.$table-cell-padding-x;
  }
  // filename
  td:nth-child(2),
  th:nth-child(2) {
    width: 100%;
    @include text.truncate;
  }
  // modified
  td:nth-child(3),
  th:nth-child(3) {
    display: none;
    width: 7rem;
    @include text.truncate;
  }
  // kind
  td:nth-child(4),
  th:nth-child(4) {
    display: none;
    width: 7.5rem;
    text-align: right;
    @include text.truncate;
  }
  // size
  td:nth-child(5),
  th:nth-child(5) {
    display: none;
    width: 7rem;
    text-align: right;
    @include text.truncate;
  }
  // TODO: REMOVE BREAKPOINTS
  @include breakpoints.media-breakpoint-up(sm) {
    thead {
      display: table-header-group;
    }

    td:nth-child(5),
    th:nth-child(5) {
      display: table-cell;
    }
  }

  @include breakpoints.media-breakpoint-up(md) {

    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4) {
      display: table-cell;
    }
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--wy-white);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: var(--wy-gray-600);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 5px;
}

.close-button svg {
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--wy-primary-40);
  border-radius: 4px;
  color: var(--wy-primary-40);
  background-color: var(--wy-white);
}

.cancel-button {
  background-color: var(--wy-red-500);
  color: var(--wy-white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button {
  background-color: var(--wy-primary-40);
  color: var(--wy-white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
